@import url("/avatar/avatar.css");

.card1-container{
    display: flex;
    justify-content: space-between;
}
.carbon-container{
    margin-top: 5px;
    width: 60%; 
}
.phone-card-container{
    display: flex;
    margin: 0 auto;
    padding: 10px;
}
.product-card{
    margin:  0 auto;
    width: 300px;
    height: 400px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.btn-sale{
    float: left;
    background-color: red;
    border: none;
    color: white;
    padding: 3px;
    margin-top: 10%;
}
.img-div img{
    margin: 0 auto;
    width: 200px;
    height: 300px;
}
.product-info{
    float: left;
    margin-left: 20px;
    margin-top: -30px;
    text-align: left;
}
.product-info h2{
    opacity: 0.8;
    margin-bottom: 5px;
}
.product-info span{
    color: blue;

}
.product-info p{
   color: gray;
   margin-top: 5px;
}
.product-info h3{
    margin-top: -10px;
    color: orangered;
}
.product-info h3 span{
    border-radius: 10px;
    padding: 2px;
    font-size: 16px;
    background-color: deepskyblue;
    color: white;
}

/* Horizontal Card */
.horizontal-cart-container{
    width: 100%;
    border-top: 2px solid black;
    margin-top: 20px;
}
.inner-topdiv{
    height: 80%;
    width: 100%;
    background-color: yellow;
    display: flex;
}
.horizontal-card-div{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    background-color: red;
    padding: 10px;
}
.img-div-hor{
    height: 100%;
    width: 200px;
}
.img-div-hor img{
    height: 100%;
    float: left;
}
.hori-card-info{
    float: left;
    text-align: left;
}
.hori-card-infoo h2{
    opacity: 0.8;
    
}
.hori-card-info span{
    color: blue;

}
.hori-card-info p{
   color: gray;
   
}
.hori-card-info h3{
    
    color: orangered;
}
.hori-card-info h3 span{
    border-radius: 10px;
    padding: 2px;
    font-size: 16px;
    background-color: deepskyblue;
    color: white;
}
.hori-btn-remove{
    
}