@import url("/avatar/avatar.css");


.card1-container{
    display: flex;
    justify-content: space-between;
}
.carbon-container{
    margin-top: 5px;
    width: 60%; 
}
.phone-card-container{
    display: flex;
    margin: 0 auto;
    padding: 10px;
}
.product-card{
    margin:  0 auto;
    width: 300px;
    height: 400px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}
.btn-sale{
    float: left;
    background-color: red;
    border: none;
    color: white;
    padding: 3px;
    margin-top: 10%;
}
.img-div img{
    margin: 0 auto;
    width: 200px;
    height: 300px;
}
.product-info{
    float: left;
    margin-left: 20px;
    margin-top: -30px;
    text-align: left;
}
.product-info h2{
    opacity: 0.8;
    margin-bottom: 5px;
}
.product-info span{
    color: blue;

}
.product-info p{
   color: gray;
   margin-top: 5px;
}
.product-info h3{
    margin-top: -10px;
    color: orangered;
}
.product-info h3 span{
    border-radius: 10px;
    padding: 2px;
    font-size: 16px;
    background-color: deepskyblue;
    color: white;
}

/* Horizontal Card */
.horizontal-cart-container{
    width: 100%;
    border-top: 2px solid black;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
}

.inner-topdiv{
    height: 80%;
    width: 100%;
    display: flex;
}
.horizontal-card-div{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.09), 0 10px 10px rgba(0, 0, 0, 0.09);

    padding: 10px;
}
.img-div-hor{
    height: 100%;
    width: 200px;
}
.img-div-hor img{
    height: 100%;
    float: left;
}
.hori-card-info{
    float: left;
    text-align: left;
}
.hori-card-infoo h2{
    opacity: 0.8;
    
}
.hori-card-info span{
    color: blue;

}
.hori-card-info p{
   color: gray;
   
}
.hori-card-info h3{
    color: orangered;
}
.hori-card-info h3 span{
    border-radius: 10px;
    padding: 2px;
    font-size: 16px;
    background-color: deepskyblue;
    color: white;
}
.hori-btn-remove{
    height: 30px;
    width: 100px;
    margin-left: 320px;
    border: none;
    background-color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.hori-btn-remove:hover{
    background-color: black;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}
.inner-bottomdiv{
    width: 100%;
    height: 20%;
    justify-content: space-between;
    border-top: 1px solid grey;
}
.hori-btn-wishlist{
    width: 20%;
    height: 100%;
    float: left;
    border: none;
    background-color: white;
    font-size: 18px;
    border-right: 1px solid grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hori-btn-wishlist:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.hori-btn-addcart{
    width: 80%;
    height: 100%;
    border: none;
    font-size: 18px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.hori-btn-addcart:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.carbon-container{
    margin: 0 auto;
    margin-top: 20px;
}