@import url("/avatar/avatar.css");


.image-main-container{
}
.image-one-container{
    margin-top: 30px;
}
.responsive-img{
    width: 100%;
    height: auto;
    max-width: 800px;
}
.image-two-container{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}
.round-img{
    border-radius: 50%;
    box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.09), 10px 20px 20px rgba(0, 0, 0, 0.09);
}
