@import url("/Alert/alert.css");
@import url("/avatar/avatar.css");

.buttons-cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
    margin: 0 auto;

}

.btn{
    padding: 12px;
    border-radius: 5px;
    outline: none;
}
.btn-primary{
    border: none;
    color: white;
    background: #7d44cc;
    font-weight: 500;
    width: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-danger{
    border: none;
    color: white;
    background-color: #dc2626;
    outline: none;
}
.btn-light{
    border: none;
    background-color: #f9fafb;
    width: 60px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.btn-dark{
    border: none;
    width: 60px;
    font-weight: 600;
    background-color: black;
    color: white;
}
.btn-link{
    border: none;
    background: transparent;
    font-size: 16px;
    text-decoration: underline;
    color: blue
}
.btn-outline{
    background: transparent;
    color: darkorange;
    border: 2px solid;
}
.btn-plus{
    border: none;
    border-radius: 50%;
    background-color: #32cd32;
    color: white;
    text-align: center;
}
.btn-twitter{
    background: none;
    border:none;
    font-size: 20px;
}


/* Hover effect */
.btn-primary:hover{
    background-color: purple;
    cursor: pointer;
    transition: 0.6s;
}
.btn-succes:hover{
    background-color: green;
    cursor: pointer;
    transition: 0.6s;
}
.btn-danger:hover{
    background-color: orangered;
    cursor: pointer;
    transition: 0.6s;
}
.btn-dark:hover{
    background-color: #f9fafb;
    color: black;
    transition: 0.6s;
    cursor: pointer;
}
.btn-light:hover{
    background-color: black;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}
.btn-link:hover{
    color: deepskyblue;
    cursor: pointer;
}
.btn-outline:hover{
    background: darkorange;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}
.btn-plus:hover{
    background-color: #00ff00;
    cursor: pointer;
    transition: 0.5s;
}
.fa-twitter:hover{
    cursor: pointer;
    transition: 0.3s;
}